.auth-body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background:#B68597;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: white;
  margin-top: 2rem;
  padding: 2rem; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.auth-logo {
  height: 60px;
  margin-bottom: 1rem;
}

h1 {
  color: #B68597;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #B68597;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea,
form select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Placeholder styling */
form input::placeholder,
form textarea::placeholder {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #888;
}

form button {
  background-color: #B68597 ;
  color: white;
  border: none;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form button:hover {
  background-color: #5D3A66;
}

.signup-link {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-link a {
  color: #5D3A66;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.crisis {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #333;
}
